<a href="https://colab.research.google.com/github/mariem-elfouzi/check2/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question 1
first=input("type your first name")
last=input("type your last name")
print(last," ",first)

In [ ]:
#question 2
n=input()
n=int(n)
x=n*10+n
y=n*100+x
z=x+y+n
print(z,"(",n,"+",x,"+",y,")")

In [ ]:
#question 3
n=input()
n=int(n)
if n%2==0:
  print("the number is even ")
else:
  print("the number is odd ")

In [ ]:
#question 4
for i in range (2000,3201):
  if i%7==0 and i%5!=0:
    print(i,"  ",end="")

In [66]:
#question 5
m=int(input())
p=1
if m==0:
  print(1)
else:
  while m>=1:
    p=p*m
    m=m-1
print(p)

8
40320

In [ ]:
#question 6
str1=input()
str2=str1[::2]
print(str2)

In [ ]:
#question 7
k=input()
k=int(k)
if k>=500:
  k=k/2
elif k>=200 and k<500:
  k=k*0.7
else:
  k=k*0.9
print(k)